Repository MagicReincarnation/Form-login_byhirutshuji, changes with the labels that .github/labeler.yml gives for each.
All labels: Form Login, MainScript, Raw MainScript, Form Login pages, Profile Header, Rule Firebase, Code Post, Config, Hexanime + Login + Player, StreamMiko, StreamMiko pages, README

.github/labeler.yml:

Form Login:
  - "Form Login/**"

MainScript:
  - "Form Login/MainScript/**"

Raw MainScript:
  - "Form Login/MainScript/raw/**"

Form Login pages:
  - "Pages/**"

Profile Header:
  - "Profile Header/**"

Rule Firebase:
  - "Rule firebase/**"

Code Post:
  - "Code Post.xml"

Config:
  - "Config.xml"

Hexanime + Login + Player:
  - "Hexanime + Login + player/**"

StreamMiko:
  - "StreamMiko/**"
StreamMiko pages:
  - "StreamMiko/pages/**"
README:
  - "README.md"
  - "Readme.md"

Create Log.yml
  .github/workflows/manual.yml
Labels: none

Update manual.yml
  .github/workflows/manual.yml
Labels: none

update README.md
  README.md
Labels: README

Update manual.yml
  .github/workflows/manual.yml
Labels: none

Update manual.yml
  .github/workflows/manual.yml
Labels: none

update playerClone_hexanime_episode_premium.min.js
  Hexanime + Login + player/playerClone_hexanime_episode_premium.min.js
Labels: Hexanime + Login + Player

update codepost_playerClone.xml
  Hexanime + Login + player/codepost_playerClone.xml
Labels: Hexanime + Login + Player

Added Hexanime v1.0 + Login + episode premium
  CHANGELOG.md
  Hexanime + Login + player/Readme.md
  Hexanime + Login + player/Themplate + Login + playerClone episode premium/hexanimev1.0+login.xml
  Hexanime + Login + player/Themplate + Login + playerClone episode premium/pages/Login.html
  Hexanime + Login + player/Themplate + Login + playerClone episode premium/pages/Profile.html
  Hexanime + Login + player/Themplate + Login + playerClone episode premium/pages/Register.html
  Hexanime + Login + player/Themplate + Login + playerClone episode premium/pages/Reset passoword.html
Labels: Hexanime + Login + Player

update playerClone_hexanime_episode_premium.min.js
  Hexanime + Login + player/playerClone_hexanime_episode_premium.min.js
Labels: Hexanime + Login + Player

update Readme.md
  Hexanime + Login + player/Readme.md
Labels: Hexanime + Login + Player

update playerClone_hexanime_episode_premium.min.js
  Hexanime + Login + player/asset/playerClone_hexanime_episode_premium.min.js
Labels: Hexanime + Login + Player

update Added Tutorial hexanime
  Hexanime + Login + player/asset/ConfigSDk.xml
  Hexanime + Login + player/asset/MainScript.xml
  Hexanime + Login + player/asset/ProfileHeader.xml
  Hexanime + Login + player/asset/Readme.md
  Hexanime + Login + player/asset/codepost_playerClone.xml
  Hexanime + Login + player/asset/pages/Dasboard Admin.html
  Hexanime + Login + player/asset/pages/Login.html
  Hexanime + Login + player/asset/pages/Profile.html
  Hexanime + Login + player/asset/pages/Register.html
  Hexanime + Login + player/asset/pages/Reset passoword.html
  Hexanime + Login + player/asset/styles.css
Labels: Hexanime + Login + Player

update
  Hexanime + Login + player/Source code Login + playerClone/ConfigSDk.xml
  Hexanime + Login + player/Source code Login + playerClone/MainScript.xml
  Hexanime + Login + player/Source code Login + playerClone/ProfileHeader.xml
  Hexanime + Login + player/Source code Login + playerClone/Readme.md
  Hexanime + Login + player/Source code Login + playerClone/codepost_playerClone.xml
  Hexanime + Login + player/Source code Login + playerClone/pages/Dasboard Admin.html
  Hexanime + Login + player/Source code Login + playerClone/pages/Login.html
  Hexanime + Login + player/Source code Login + playerClone/pages/Profile.html
  Hexanime + Login + player/Source code Login + playerClone/pages/Register.html
  Hexanime + Login + player/Source code Login + playerClone/pages/Reset passoword.html
  Hexanime + Login + player/Source code Login + playerClone/playerClone_hexanime_episode_premium.min.js
  Hexanime + Login + player/Source code Login + playerClone/styles.css
  Hexanime + Login + player/asset/Readme.md
Labels: Hexanime + Login + Player

update profile header.xml
  Form Login/Profile Header/raw/profile header.xml
Labels: Form Login
